<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<div th:fragment="footer">
    <script src="../static/js/jquery-2.1.4_min.js" th:src="@{/js/jquery-2.1.4_min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <ul class="nav navbar-nav" style="color: #000000">
        Сделано <a href="https://javarush.ru/users/1821429">Александром Seichirino</a> в рамках тестового задания на зимнюю стажировку <a href="https://javarush.ru">JavaRush</a> 2019
    </ul>

</div>
</html>